[color]
    ui = auto
[user]
    name = tao.pei
    email = tao.pei@ck-telecom.com
[commit]
    template = /home/peter/.gitmessage
[core]
    editor = vim 
    safecrlf = true
[review "http://10.120.10.101"]
    autoupload = true
    uploadtopic = true
[http]
[http]
    cookiefile = %USERPROFILE%\\.gitcookies
[push]
    default = current
[review "android.bq.com"]
    uploadtopic = true
[review "http://10.120.10.101:9999"]
    uploadtopic = true
[review "10.120.10.101:9999"]
    uploadtopic = true

