[color]
    ui = auto
[user]
    name=peter.pei
    email=gpeitao@gmail.com
[commit]
    template = ~/.gitmessage
[core]
    editor = vim 
    safecrlf = true
[review "http://10.120.10.101"]
    autoupload = true
    uploadtopic = true
[http]
    cookiefile = %USERPROFILE%\\.gitcookies
[push]
    default = current
[review "android.bq.com"]
    uploadtopic = true
[review "http://10.120.10.101:9999"]
    uploadtopic = true
[review "10.120.10.101:9999"]
    uploadtopic = true

